[submodule "congress"]
	path = congress
	url = https://github.com/unitedstates/congress
[submodule "congress-legislators"]
	path = congress-legislators
	url = https://github.com/unitedstates/congress-legislators
	branch = gh-pages
